<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <title>Danh sách người dùng</title>
</head>
<body>
<section layout:fragment="content">
    <div class="container mt-4">
        <h2 class="mb-3">Danh sách người dùng</h2>

        <table class="table table-bordered table-hover">
            <thead class="table-dark">
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Địa chỉ</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user, start : ${userPage}">
                <td th:text="${start.index + 1}"></td>
                <td th:text="${user.username}"></td>
                <td th:text="${user.email}"></td>
                <td th:text="${user.phone}"></td>
                <td th:text="${user.address}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</section>
</body>
</html>
