<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="header">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" th:href="@{/}">🛒 Shop Online</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item"><a class="nav-link" th:href="@{/cars}">Sản phẩm</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/brands}">Hãng xe</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/cart}">Giỏ hàng</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/cart/checkout}">Thanh toán</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/orders/history}">Xem đơn hàng</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/admin/users}">Xem người dùng</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/admin/dashboard}">Dashboard</a></li>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" th:href="@{/login}">Đăng nhập</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/register}">Đăng ký</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>
</body>
</html>
